#section2 {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #007bff !important;
}

#section3 {
  color: #007bff !important;
}

.card-img-top {
  padding-top: 0px !important;
}

.mycareertitle {
  text-decoration: underline !important;
}

.card-title {
  text-decoration: underline !important;
}

.card-body {
  background-color: #e3f2fd !important;
}
