#section1 {
  padding-top: 16px;
}

#section2 {
  font-size: 15px color:white !important;
  background-color: #007bff !important;
  color: #e3f2fd !important;
  padding-left: 5px;
}

h5 {
  font-size: 20px;
  text-decoration: underline;
  background-color: #007bff !important;
}

body {
  background-color: #e3f2fd !important;
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.responsive {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.card-body {
  background-color: #e3f2fd !important;
}

.card {
  border: none !important;
  background-color: #e3f2fd !important;
}
